*{
  padding:0;
  margin: 0;
}

#render{
  list-style: none;
}
li{
  float:left;
  overflow:auto;
  padding: 20px;
}

.caption{
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

h1{
  margin-left: 10px;
}
